---
import Hero from "../components/Hero.astro";
import LocationContainer from "../components/LocationContainer.astro";
import PartyInfo from "../components/PartyInfo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cumpleaños Morelia">
  <section
    class="bg-[#FFFCC3] w-[815px] relative overflow-hidden animate-fade shadow-2xl shadow-[#FFFCC3]"
  >
    <img
      class="absolute top-0 w-[102%] sm:w-[931px] max-w-none -left-[1%] sm:-left-2"
      src="/assets/s.png"
      alt="Top-Layer"
    />
    <div class="flex justify-center items-center sm:mt-28 relative">
      <svg
        class="absolute top-0 block sm:hidden w-[300px]"
        height="200"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs>
          <path id="arcPathMobile" d="M-25,150 A200,100 0 0,1 325,150"></path>
        </defs>
        <text fill="#F73A23" class="text-4xl" text-anchor="middle">
          <textPath href="#arcPathMobile" startOffset="50%">
            ¡ESTRENO EXCLUSIVO!
          </textPath>
        </text>
      </svg>
      <svg
        class="absolute top-0 hidden sm:block w-[500px]"
        height="200"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs>
          <path id="arcPathPC" d="M50,150 A200,100 0 0,1 450,150"></path>
        </defs>
        <text fill="#F73A23" class="text-[50px]" text-anchor="middle">
          <textPath href="#arcPathPC" startOffset="50%">
            ¡ESTRENO EXCLUSIVO!
          </textPath>
        </text>
      </svg>
    </div>
    <Hero />
    <PartyInfo />
    <LocationContainer />
    <div class="mt-4 mb-16 sm:mb-36 flex justify-center">
      <span class="text-center text-xl sm:text-2xl text-slate-900/90">
        Favor de confirmar asistencia a More ;;))
      </span>
    </div>

    <img
      class="absolute bottom-0 w-[102%] sm:w-[931px] max-w-none -left-[1%] sm:-left-2 -scale-y-[1]"
      src="/assets/s.png"
      alt="Bottom-Layer"
    />
  </section>
</Layout>
