<div class="flex flex-col gap-3 items-center mt-4 px-4 sm:px-6 md:px-8">
  <span class="text-center text-2xl sm:text-3xl text-slate-900/70">Lugar:</span>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d487.86611919447535!2d-76.90600088221726!3d-11.979417917449181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTHCsDU4JzQ1LjYiUyA3NsKwNTQnMjEuMiJX!5e0!3m2!1ses!2spe!4v1724965119921!5m2!1ses!2spe"
    class="rounded-xl w-full h-64 sm:w-[400px] sm:h-[300px] md:w-[500px] md:h-[350px] border-0"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
</div>
