<div class="flex gap-2 sm:gap-4 justify-center mt-3">
  <img
    class="w-20 sm:w-48 h-2 sm:h-4 mt-2 sm:mt-4"
    src="/assets/yellow.png"
    alt="yellow-left"
  />
  <img class="w-5 sm:w-8 h-5 sm:h-8" src="/assets/t.webp" alt="" />
  <img
    class="w-20 sm:w-48 h-2 sm:h-4 mt-2 sm:mt-4 -scale-x-[1]"
    src="/assets/yellow.png"
    alt="yellow-right"
  />
</div>
